/.bundle/
/.yarn/
/.pnp/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

/node_modules
/public/packs
/public/packs-test
/public/vite
/public/vite-dev
/public/vite-build
/coverage/
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

*.log
*.pid
*.pid.lock

.DS_Store
.env
.env.local
.env.*.local

/config/master.key
/config/credentials/*.key

